JWT_SECRET=super-secure-secret-key-3k12jbklbzsgrkbsdfh;

JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
                 blablalba
                 -----END PRIVATE KEY-----
"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
                 blablalba
                -----END PUBLIC KEY-----
"
JWT_KEY_ID="auth-key-N"